@font-face {
	font-family : 'NotoSansCJKkr';
	src: url(../font/NotoSansCJKkr-Light.eot);
	src: url(../font/NotoSansCJKkr-Light.eot#iefix) format('embedded-opentype'),
		/*url(../font/NotoSansCJKkr-DemiLight.woff) format('woff'),*/
		url(../font/NotoSansCJKkr-Light.ttf) format('truetype');
	font-weight: 200;    
}

@font-face {
	font-family : 'NotoSansCJKkr';
	src: url(../font/NotoSansCJKkr-DemiLight.eot);
	src: url(../font/NotoSansCJKkr-DemiLight.eot#iefix) format('embedded-opentype'),
		/*url(../font/NotoSansCJKkr-DemiLight.woff) format('woff'),*/
		url(../font/NotoSansCJKkr-DemiLight.ttf) format('truetype');
	font-weight: 300;    
}

@font-face {
	font-family : 'NotoSansCJKkr';
	src: url(../font/NotoSansCJKkr-Regular.eot);
	src: url(../font/NotoSansCJKkr-Regular.eot#iefix) format('embedded-opentype'),
		/*url(../font/NotoSansCJKkr-Regular.woff) format('woff'),*/
		url(../font/NotoSansCJKkr-Regular.ttf) format('truetype');
	font-weight: 400;    
}

@font-face {
	font-family : 'NotoSansCJKkr';
	src: url(../font/NotoSansCJKkr-Medium.eot);
	src: url(../font/NotoSansCJKkr-Medium.eot#iefix) format('embedded-opentype'),
		/*url(../font/NotoSansCJKkr-Medium.woff) format('woff'),*/
		url(../font/NotoSansCJKkr-Medium.ttf) format('truetype');
	font-weight: 500;
    
}

@font-face {
	font-family : 'NotoSansCJKkr';
	src: url(../font/NotoSansCJKkr-Bold.eot);
	src: url(../font/NotoSansCJKkr-Bold.eot#iefix) format('embedded-opentype'),
		/*url(../font/NotoSansCJKkr-Bold.woff) format('woff'),*/
		url(../font/NotoSansCJKkr-Bold.ttf) format('truetype');
	font-weight: 600;
    
}

