@import url("font.css");
body { min-width: 1366px; margin:0; padding:0; background: #000; font-family: 'NotoSansCJKkr', sans-serif; font-size:14px; line-height: 1.5; font-weight: 400; word-break: keep-all; border: none !important; outline: 0 !important; }
button, a { outline: none;}

/* gnb */
a#fistTopMenu { position: fixed; width: 100%; height:36px; left:0; top:-36px; background: #343434; line-height: 36px; font-size: 16px; color: #fff; z-index: 999; text-align: center; transition: top .2s; }
a#fistTopMenu:focus { top: 0; }
.newMain_kor > header { min-width: 1366px; position: fixed; top: 0; width: 100%; z-index: 3; border-bottom: 1px solid #e5e5e5; background: url(../images/global/bg_headerOn.png) repeat-x center 90px #fff;  box-sizing: border-box; text-align: center; font-size: 0; }
.newMain_kor > header > h1 {position: absolute;  top: 25px; left: 81px;  padding: 0;  margin: 0;  box-sizing: border-box;}
.newMain_kor > header > h1 a { display: inline-block; height: 48px;}
.newMain_kor > header > div { display: inline-block; overflow: hidden; height:90px; margin: 0 auto; }
.newMain_kor > header > div > ul { height: 90px; padding: 0; margin: 0 auto; list-style: none; }
.newMain_kor > header > div > ul > li { display: table; float: left; width: 160px; font-size: 18px; }
.newMain_kor > header > div > ul > li > a{  display: table-cell; height: 90px; vertical-align: middle;text-decoration: none; font-weight: 500;color: rgba(140, 140, 140, 1);}
.newMain_kor > header > div > ul > li > a:hover, 
.newMain_kor > header > div > ul > li.on > a { color: rgba(18, 18, 18, 1); }
.newMain_kor > header > div > div > ul { display: table-cell; width: 160px; margin: 0; padding: 32px 0 34px; border-right: 1px solid #e6e6e6; list-style: none; vertical-align: top; font-size: 16px; text-align: left;}
.newMain_kor > header > div > div > ul:first-child { border-left: 1px solid #e6e6e6;  }
.newMain_kor > header > div > div > ul li { padding: 0 20px; }
.newMain_kor > header > div > div > ul li + li { margin-top: 6px; }
.newMain_kor > header > div > div > ul a {display: inline-block; padding: 4px 0 3px; border-bottom: 1px solid rgba(0,0,0,0); text-decoration: none; color: #333; font-weight: 400; }
.newMain_kor > header > div > div > ul a:hover { border-bottom: 1px solid #333;}
#contentsStart { position:absolute; overflow: hidden; border:none; background: transparent; height: 1px; outline: none !important; border: none !important; }
/* header optionBtns */
.newMain_kor > header > button { position: absolute; top: 0; width:42px; height: 26px; margin: 32px 0; border:1px solid rgba(140, 140, 140, 1); background: none; color: rgba(153, 153, 153, 1); line-height: 22px; box-sizing: border-box; }
.newMain_kor > header > button.on { border: 1px solid rgba(18, 18, 18, 1); background: rgba(18, 18, 18, 1); color: rgba(255, 255, 255, 1);}
.newMain_kor > header > button.korBtn { right: 122px; }
.newMain_kor > header > button.engBtn { right: 80px; }

.newMain_kor > header > hr {position: absolute; z-index: 4; top:90px; left: 0;right: 0; margin: 0; border:none; border-top:1px solid #e6e6e6;}

/* 접근성관련 추가 */
.inTabOutline { border: 2px solid #ff0000; outline: 2px solid #ff0000; }
input.inTabOutline,
button.inTabOutline,
a.inTabOutline { box-sizing: border-box; }
hr.inTabOutline { border: none !important; outline: none !important}
input[type="file"].inTabOutline { opacity: 1; border: 2px solid #ff0000 !important; outline: 2px solid #ff0000 !important; box-sizing: border-box; }

/* introMain */
#introMain { position: relative; }
#introMain > div { overflow: hidden; margin-top: 90px; }
#introMain > div ul,
#introMain > div li { overflow: hidden; min-height: 720px; height: calc(100vh - 90px); margin: 0; padding: 0; }
#introMain > div ul { list-style: none; }
#introMain > div li { display: table; width: 100vw; float: left; min-width: 1366px; background-repeat: no-repeat; background-size: cover; background-position: center; }
#introMain > div li div { display: table-cell; width: 100vw; vertical-align: middle; text-decoration: none; color: #fff; cursor: default; }
#introMain > div li div h1, 
#introMain > div li div h2,
#introMain > div li div button { margin:0 0 0 calc(50% - 683px); }
#introMain > div li div h1 { padding: 50px 0 40px; font-size: 60px; }
#introMain > div li div h2 { line-height: 54px; font-size: 40px; font-weight: 200; }
#introMain > div li div button { height: 46px; margin-top: 80px; margin-bottom: 185px; padding: 0 25px; border: 2px solid #fff; background: transparent; color: #fff; font-weight: 500; }
#introMain > div li div button:hover { background-color: #fff; color:#121212;transition: all .3s ease-in-out; }
#introMain .indicator, 
#introMain .indicator li { overflow: hidden; margin: 0; }
#introMain .indicator,
#introMain > button { position: absolute; top: calc(100% - 185px); }
#introMain .indicator { margin-left: calc(50% - 661px); padding: 0; list-style: none; }
#introMain .indicator li { display: inline-block; }
#introMain .indicator li a { display: inline-block; padding: 0 6px; color: rgba(255,255,255, .5); font-size: 14px; text-decoration: none; line-height: 34px; transition: all .1s ease-in-out; }
#introMain .indicator li.on a {  color: rgba(255,255,255, 1); }
#introMain .indicator li.on div { display: inline-block; width: 70px; height: 2px; margin: -2px 8px 0 10px; background: #ccc; vertical-align: middle; }
#introMain .indicator li.on div span { display: block; height: 3px; width: 0; background: #1d55e3; }
#introMain > button { overflow: hidden; width: 36px; height: 34px; border:none; background-repeat: no-repeat; background-position: center; background-color: transparent; line-height: 200px; }
#introMain > button:nth-child(2) { margin-left: calc(50% - 697px); background-image: url('../images/reMain/ico_visualprev.png'); }
#introMain > button:nth-child(3) { background-image: url('../images/reMain/ico_visualnext.png'); }
#introMain > button.stopPlay { background-image: url('../images/reMain/ico_visualpause.png'); background-position: center top; }
#introMain > button.stopPlay.on { background-position: center bottom; }
#introMain > button.nextArea { left: calc(50% - 47px); top: calc(100% - 112px); width: 94px; height: 112px; padding: 0 0 84px; text-align: center; line-height: 18px; font-size: 14px; color: #fff; background-image: url('../images/reMain/bg_visual_nextArea.png'); background-repeat: no-repeat; background-position: center 62px; animation-duration: .8s; animation-name: upnDwon; animation-iteration-count: infinite; }
#introMain > button.nextArea img { margin-top: 8px;}
@keyframes upnDwon {
    0% { background-position-y: 62px; }
    68% { background-position-y: 70px; }
    0% { background-position-y: 62px; }
}
#introMain button { cursor: pointer;}

/*businessMain*/
#businessMain { overflow: hidden; position: relative; background:#121212; }
#businessMain > div { overflow: hidden; width: 100%; min-width: 1366px; height: calc(100vh - 90px); min-height: 720px; }
#businessMain ul { padding:0; margin: 0; list-style: none;}
#businessMain ul li { overflow: hidden; float: left; height: calc(100vh - 90px); background-repeat: no-repeat; background-size: cover; font-weight: 500; box-sizing: border-box;}

#businessMain ul li a { display: table; width:100%; height: 100%; border-right: 1px solid #8b9392 ; background:rgba(34,34,34, 0.5) url(../images/reMain/img_mainbg.png) no-repeat top ;text-decoration: none; box-sizing: border-box; cursor: pointer;} 
#businessMain ul li a > div { display: table-cell;vertical-align: middle;}
#businessMain ul li a > div > div {overflow: hidden; padding: 100px 0 0;  height:315px ; text-align: center; box-sizing: border-box;transition: all .2s;}
#businessMain ul li a > div > div > .imgArea {height: 98px;}
#businessMain ul li a > div > div > .imgArea img {vertical-align: top;}
#businessMain ul li a > div > div > h2,
#businessMain ul li a > div > div > p { padding: 0 30px; box-sizing: border-box; }
#businessMain ul li a > div > div > h2 {/*height:68px;*/ margin: 27px 0 0; line-height: 34px;font-size:32px ; color:#fff; font-weight:600 ;}
#businessMain ul li a > div > div > span {display: inline-block; width: 150px; height: 50px;  padding: 0 0 0 20px; margin: 162px 0 0; border: 2px solid #fff;  background: transparent url(../images/reMain/ico_btnarrow_w.png)no-repeat right 20px center ;opacity: 0;line-height: 43px; text-decoration: none; text-align:left; font-size:16px;  color:#fff;  box-sizing: border-box;transition: all 1s;}

#businessMain ul li a:hover {background:rgba(34,34,34, 0) ; transition: all .2s ease-in;}
#businessMain ul li a:hover > div > div {padding:0 ;transition: all .2s;}
#businessMain ul li a:hover > div > div > span {margin-top: 71px; opacity: 1; transition: margin-top .3s ease-in-out,opacity .3s ease-in-out ;}
#businessMain ul li a:hover > div > div > span:hover { background-color: #fff; background-image: url(../images/reMain/ico_btnarrow.png); color:#121212;transition: all .3s ease-in-out; }

#businessMain > button { position: absolute; top: 0; width: 37px; height: calc(100vh - 90px); min-height: 720px; border: none; background-color: transparent; background-position: center; background-repeat: no-repeat; cursor: pointer; font-size: 0; opacity: 0.8; transition: opacity .2s;}
#businessMain > button:hover {opacity: 1;}
#businessMain > button.busibtnPre {left: 0; background-image: url(../images/reMain/ico_mainbtn_l.png);}
#businessMain > button.busibtnNex {left: calc(100% - 37px); background-image: url(../images/reMain/ico_mainbtn_r.png); }

/* news */
#newsMain { overflow: hidden; position: relative; height: 1020px; background-color: #fff; box-sizing: border-box;}
#newsMain > hgroup { position: absolute; display: block; top: 142px; width: 1200px; height: 224px; left: calc(50% - 600px); text-align: right; transition: all .6s ease-in-out; }
#newsMain > hgroup h1 { float: left; max-width: 600px; margin: 0; line-height:22px ; font-size:22px; font-weight: 600; color:#1f2c5c; word-break: keep-all; text-align: left;}
#newsMain > hgroup h1 p { margin: 21px 0 0; line-height:54px; font-size:38px; font-weight:400 ; font-style: normal; color:#000;}
#newsMain > hgroup a { overflow: hidden; display: inline-block; width: 34px; height: 34px; margin-top: 50px; background-position: center top; line-height: 200px; }
#newsMain > hgroup a:hover,
#newsMain > hgroup a:focus { background-position: center bottom; }
#newsMain > hgroup a:nth-child(2) { margin-right: 8px; background-image: url('../images/reMain/ico_youtube_newsArea.png'); }
#newsMain > hgroup a:nth-child(3) { background-image: url('../images/reMain/ico_instagram_newsArea.png'); }
#newsMain > hgroup a:nth-child(4) { background-image: url('../images/reMain/ico_facebook_newsArea.png'); }
#newsMain > hgroup a:nth-child(5) { background-image: url('../images/reMain/ico_naver_newsArea.png'); }
#newsMain > hgroup a + a { margin-left: 14px; }
#newsMain { min-width: 1200px; }
#newsMain .newsPlay { position: absolute; top: 364px; left: calc(50% - 600px); width: 480px; transition: all .6s ease-in-out; transition-delay: .4s; }
#newsMain .newsPlay > a { display: block; padding:0 ; text-decoration: none;}
#newsMain .newsPlay > a h2 {padding: 20px 0; margin:0; border-top: 1px solid #e62d28; line-height:38px; font-size:28px; font-weight: 600; color:#000;}
#newsMain .newsPlay > a p {margin: 1px 0 0; line-height: 30px; font-size: 18px; font-weight: 500; color:#000;}
#newsMain.eng .newsArticle h2 {width: 160px;}
#newsMain .newsPlay .videoArea { overflow: hidden; width: 480px; height: 270px; }
#newsMain .newsPlay .playIcoArea {position: relative; top: 1px;width: 100px; height: 32px;  margin:40px 0 0;  border: 1px solid #e62d28; ; border-bottom-color: #fff; background: url(../images/reMain/ico_youtube.png) no-repeat center; box-sizing: border-box;}
#newsMain.eng .newsPlay .playIcoArea {width: 160px;}
#newsMain .newsArticle { position: relative; top: 364px; left: calc(50% - 20px); background: #ccc; }
#newsMain .newsArticle a { display: block; position: absolute; overflow: hidden; width: 620px; text-decoration: none; transition: all .4s ease-in-out; transition-delay: 1s; }
#newsMain .newsArticle a > div { float: left; width: 230px; height: 152px;  }
#newsMain .newsArticle h2,
#newsMain .newsArticle h3,
#newsMain .newsArticle p { margin: 0 0 0 260px; }
#newsMain .newsArticle h2 { position: absolute; width: 100px; height: 32px; border:1px solid #1f2c5c; border-bottom-color: #fff; line-height: 32px; text-align: center; font-size:16px; font-weight:500 ; color:#1f2c5c; box-sizing: border-box;}
#newsMain .newsArticle h3 { padding: 20px 0 15px; margin-top: 31px; border-top: 1px solid #1f2c5c; font-size:20px; font-weight: 600; color:#000;}
#newsMain .newsArticle p { line-height: 32px; font-size: 16px; color:#999;}
#newsMain .newsArticle .articleImageArea {margin: 0 30px 0 0;}
#newsMain .newsArticle a:nth-child(1) { top: 0; transition-delay: .7s; }
#newsMain .newsArticle a:nth-child(2) { top: 192px; transition-delay: .9s; }
#newsMain .newsArticle a:nth-child(3) { top: 384px; transition-delay: 1s; }

/* news 시작 모션용 */
#newsMain.readyMotion hgroup { margin-top: -100px; opacity: 0; }
#newsMain.readyMotion div.newsPlay { margin-left: -100px; opacity: 0; }
#newsMain.readyMotion div.newsArticle a { margin-left: 80px; opacity: 0; }

/* 인재채용 */
#recruitMain { position: relative; height: 1020px; background: url(../images/reMain/img_recruitbg.png) no-repeat; background-size: cover; }
#recruitMain > hgroup { position: absolute; left: calc(50% - 600px); top: 195px; width: 1200px; transition: all .6s ease-in-out; }
#recruitMain > hgroup h1 {margin: 0; line-height:34px; text-align: center; font-size:24px; font-weight: 600;color:#fff; }
#recruitMain > hgroup > p {margin: 12px 0 116px; line-height:62px; text-align: center; font-size:42px;  color:#fff;}
#recruitMain > a { position: absolute; overflow: hidden; left: calc(50% - 600px); width:590px; height:200px;}
#recruitMain > a div { width: 100%; height: 100%; }
#recruitMain > a:nth-child(2) { top: 420px; background-color: rgba(203,183,30,1); transition: all .6s ease-in-out; transition-delay: .6s;}
#recruitMain > a:nth-child(2) div { background: url(../images/reMain/img_recruit01.png) no-repeat left 202px top -65px; transition: all, 1.5s; opacity:0.4;}
#recruitMain > a:nth-child(3) { top: 620px; margin-top: 20px; background-color: rgba(31,44,91,1); transition:all .6s ease-in-out; transition-delay: .8s;}
#recruitMain > a:nth-child(3) div { background: url(../images/reMain/img_recruit02.png) no-repeat left 116px top -31px; opacity:0.4;}
#recruitMain > a hgroup {position: absolute; top: 33px ; left:30px;z-index: 1;}
#recruitMain > a hgroup h2 {margin: 0 0 5px; line-height:38px; font-size:24px ; font-weight: 500; color:#fff;}
#recruitMain > a hgroup p {margin: 0; line-height: 32px; font-size: 18px; font-weight: 500; color:#fff;}
#recruitMain > a span {position: absolute; left:30px; bottom: 30px ; width: 118px; height: 32px; background: url(../images/reMain/ico_arrow.png) no-repeat right 0 center ; line-height: 32px; text-decoration: none; font-size: 15px;color:#fff;}
#recruitMain > a:nth-child(4) { position: absolute; overflow: hidden; top: 420px; left: calc(50% + 10px); width: 590px; height: 420px; background:#97b0c2; transition: all .7s ease-in-out; transition-delay: 1.2s;}
#recruitMain > a:nth-child(4) span { top: 140px; }
#recruitMain > a:nth-child(4) > div { background: url(../images/reMain/img_recruit03.png) no-repeat center top -8px ;transition: all, 1.5s; opacity:0.5;}
#recruitMain > div:hover div { background: url(../images/reMain/img_recruit02.png) no-repeat left 99px top -41px;transform: scale(1.1); opacity:0.6;}
#recruitMain > a:hover div { transform: scale(1.1); opacity:0.6; transition: all, 1.5s; }

/* 인재채용 시작 모션용 */
#recruitMain.readyMotion > hgroup { margin-top: -100px; opacity: 0;}
#recruitMain.readyMotion > a { opacity: 0;}
#recruitMain.readyMotion > a:nth-child(2),
#recruitMain.readyMotion > a:nth-child(3) { margin-left: -100px; }
#recruitMain.readyMotion > a:nth-child(4) { margin-left: 60px; }

/* 하단슬라이드 */

#slideMain {position: relative;height: 598px; background:#f2f5f8 ; box-sizing: border-box; }
#slideMain > div { overflow: hidden; max-width: 960px; height: 598px; margin: auto; padding:89px 0 0; box-sizing: border-box;}
#slideMain > div ul { overflow: hidden; padding:0; margin: 0; list-style: none;}
#slideMain > div ul li {float: left; min-width: 960px; padding: 0; box-sizing: border-box;}
#slideMain > div ul li > div { float: left;}
#slideMain > div ul li > div + div {float: right; width: 320px; height: 420px; background-size: cover;} 
#slideMain > div ul li h2 { width: 325px; margin:82px 0 50px; line-height:48px; letter-spacing: 1px; font-size:30px; font-weight: 300; color:#000;}
#slideMain > div ul li h2 p {margin: 0 0 14px; line-height:32px; letter-spacing: 0; font-size:22px; font-weight: 600; color:#1f2c5c;}
#slideMain > div ul li h2 strong {letter-spacing: -1px; font-size:42px ;}
#slideMain > div ul li a {display: inline-block; width: 150px; height: 50px;  padding: 0 0 0 20px; border: 2px solid #000;  background: url(../images/reMain/ico_btnarrow.png)no-repeat right 20px center ;line-height:43px; text-decoration: none;  font-size:16px;  color:#000;  box-sizing: border-box;}
#slideMain > div ul li a:hover {background:#121212 url(../images/reMain/ico_btnarrow_w.png)no-repeat right 20px center; color:#fff; transition: all .3s;}

#slideMain > a { overflow:hidden; position: absolute; top: calc(100% - 322px);  width: 25px; height: 45px; background: url(../images/reMain/ico_prev.png) no-repeat; text-decoration: none; font-size: 500px;} 
#slideMain > a.btnPrev {left:calc(50% - 600px);}
#slideMain > a.btnNext {right:calc(50% - 600px); background-image: url(../images/reMain/ico_next.png);}

#slideMain > ol.slidIndicator {position: absolute; bottom:32px; left: 50%; transform: translateX(-50%); height: 12px; list-style: none;}
#slideMain > ol.slidIndicator li { float: left;}
#slideMain > ol.slidIndicator li ~ li {margin-left:10px ;}
#slideMain > ol.slidIndicator li a {display: inline-block; overflow: hidden;  width: 12px; height: 12px; border:2px solid #f2f5f8; border-radius: 100%; background: #b4b7be; font-size: 200px; box-sizing: border-box;}
#slideMain > ol.slidIndicator li.on a { border:2px solid #1f2c5c;border-radius: 100%;background: none;  }


/* footer */
footer {position: relative; background: #06061f;}
footer > hr {margin: 0; border: none; height: 1px;  background: #1f1f36;}
footer > div.footerBox2,
footer > div.footerBox3 { max-width:1200px; margin: auto;}

footer > div.footerBox1 { overflow: visible; max-width:1200px;height: 128px; margin: auto;padding: 83px 0 0; text-align: right; box-sizing: border-box;}
footer > div.footerBox1 > a { float: left; }
/* footerBox1 select */
.selectRemake {display: inline-block; position: relative; text-align: left;}
.selectRemake > a { display: inline-block; vertical-align: middle; text-decoration: none; text-align: left;}
.selectRemake > a:focus { outline: 2px solid #ff0000; }
.selectRemake ul li input {width:0; height: 0; margin: 0; }

footer > div.footerBox1 > label {display: none;}
footer > div.footerBox1 > .selectRemake select {display: none; }
footer > div.footerBox1 > .selectRemake > a,
footer > div.footerBox1 > .selectRemake select {width:210px; height: 45px;padding: 16px 0; margin: 0 40px 0 0; border: none; border-bottom:1px solid #83838f;line-height: 10px; box-sizing: border-box;font-size:16px ;font-weight: 500;  color:#efeff0;}
footer > div.footerBox1 > .selectRemake:last-child a {margin-right: 0;}
footer > div.footerBox1 > .selectRemake > a {background: transparent url(../images/reMain/bu_footerselect.png) no-repeat right 0 center;}
footer > div.footerBox1 > .selectRemake ul { display: ; position: absolute; z-index: 10; width:210px; padding: 0; margin: 0; list-style: none; border:1px solid #83838f; background-color:#06061f;box-sizing: border-box; } 
/* footer > div.footerBox1 > .selectRemake:hover ul {display: block;} */
footer > div.footerBox1 > .selectRemake ul a { display: block; padding: 4px 7px; line-height: 32px; font-size:16px ; font-weight: 300; color:#efeff0; text-decoration: none; }
footer > div.footerBox1 > .selectRemake ul a:hover,
footer > div.footerBox1 > .selectRemake ul a:focus {background:#efeff0 ; color:#06061f;}

footer > div.footerBox2 {clear: both;padding: 54px 0 72px;text-align: right;}
footer > div.footerBox2 p { display:block; float: left; margin: 0; line-height: 32px; text-align: left; font-size: 16px; font-weight: 500; color:#6a6a6d ;}
footer > div.footerBox2 > div img {transform: translateY(4px);}
footer > div.footerBox2 > div img:first-child {margin: 0 30px 0 0;}

footer > div.footerBox2 nav ul {overflow: hidden; padding: 0; margin: 0; list-style: none;}
footer > div.footerBox2 nav ul li {float: left; height: 32px;}
footer > div.footerBox2 nav ul li:hover > a{color:#efeff0;}
footer > div.footerBox2 nav ul li > a {margin: 0 26px; vertical-align: middle; text-decoration: none; font-size:16px ; font-weight:500 ; color:#9f9fa0;}
footer > div.footerBox2 nav ul li:first-child > a {margin-left: 0;}

/* topBtn */
.topBtnArea {overflow: hidden; display: inline-block; position: absolute; right:0; width: 60px; height: 60px; margin: -60px 0 0; padding: 25px 0 0; border: none;  background: #1f1f36 url(../images/reMain/ico_up_w.png) no-repeat top 15px center; text-align: center;font-size: 14px;font-weight: 500; color:#fff; cursor: pointer; box-sizing: border-box;}
.topBtnArea:hover {background-color: #404054;}