@import url("font.css");
body {margin:0; font-family: "NotoSansCJKkr", sans-serif;}


/* header
header  {position: fixed; top: 0; z-index: 3; width: 100vw; height: 50px; border-bottom: 1px solid #e5e5e5; background: #fff; text-align: right;box-sizing: border-box;}
header > h1 {float: left; margin:13px 0 0 20px; width:50px; height: 24px;  background: url(../images_mobile/reMain/logo.png) no-repeat center / 50px auto; font-size: 0; }
header > button {width:60px; height: 50px;  border: none; background: url(../images_mobile/reMain/ico_hambugermenu.png) no-repeat center / 20px auto; font-size: 0;}
 */

/* header GNB */
header { position: fixed; overflow: hidden; top: 0; width: 100%; height: 50px; border-bottom: 1px solid #e5e5e5; background: #fff; text-align: center; z-index: 890; }
header > a { display: block; position: absolute; overflow: hidden; top: 13px; left: 18px; width: 51px; height: 28px; z-index: 800;  }
header > a img { width: 50px; }
header > h1 { display: none; }
header > button:nth-child(3) { position: absolute; overflow: hidden; top:0; left: calc(100% - 54px); width: 50px; height: 50px; border: none; background: url('../images_mobile/reMain/button_header.png') no-repeat center top; background-size: 50px; line-height: 200px; z-index: 801; }
header > button:not(:nth-child(3)) { position: absolute; height: 18px; margin-top: 18px; padding: 0 6px; border-width: 1px; background-color: transparent; border: 1px solid #ccc; line-height: 18px; color: #ccc; font-size: 9px; opacity: 0; transition: all .2s ease-in-out; }
header > button:not(:nth-child(3)).on { background: #000; border-color: #000; color: #fff; }
header > button:nth-child(4) { left: calc(100% - 178px); z-index: 100; }
header > button:nth-child(5) { left: calc(100% - 142px); z-index: 99; }
header > button:nth-child(6) { left: calc(100% - 102px); border-color: #000; color: #000 }
header.eng > button:nth-child(4) { left: calc(100% - 216px); }
header.eng > button:nth-child(5) { left: calc(100% - 180px); }
header.eng > button:nth-child(6) { left: calc(100% - 140px); }
header.on { border: none; }
header.on > button:nth-child(3) { background-position: center -50px; }
header.on > button:not(:nth-child(3)) { opacity: 1; }

/* nav - hanmburger 메뉴 오픈 */
body > nav { position: fixed; overflow-y: auto; display: none; top: 0; width: 100vw; height: 0; margin-top: 50px; padding-bottom: 50px; background: rgba(255,255,255,1); text-align: center; box-sizing: border-box; z-index: 999; }
body > nav > div { display: table; width: 100vw; height: calc(100vh - 100px); }
body > nav > div > span { display: table-cell; vertical-align: middle; height: calc(100vh - 100px); }
body > nav ul { overflow: hidden; list-style: none; display: none; margin: 0 0 18px; padding: 20px 0; background: rgba(0,0,0,0); }
body > nav a { text-decoration: none; font-size: 14px; color: #fff; }
body > nav h2 { margin: 0; padding:0 0 18px; font-size: 17px; color: rgba(153,153,153,1); transition: all .4s ease-in-out; }
body > nav span div li + li { margin-top: 14px; }
body > nav span div.on h2 { color: #000; }
body > nav span div.on ul { background: rgba(0,0,0,1); }

/* intro Main */
#introMain {position: relative; height: 590px; margin-top: 50px; }
#introMain > div {overflow: hidden;  height: 100%; }
#introMain > div ul,
#introMain > div li {overflow: hidden;margin: 0; padding: 0;}
#introMain > div ul { height:100%; list-style: none; }
#introMain > div li { display: table; float: left; width: 100vw; height: 100%; background-size: cover;}
#introMain > div li a {display: table-cell; height:189px ; padding: 115px 30px 0; vertical-align: middle; text-decoration: none; }
#introMain > div li a > h1 {display: table; height: 104px; margin: 0; font-size:35px; color:#fff;}
#introMain > div li a > h1 > span {display: table-cell; vertical-align: bottom; word-break: keep-all;}
#introMain > div li a > h2 {height: 98.5px; margin:7px 0; font-size:23px; font-weight: 200; color:#e5e5e5;}/*font-weight:라이트 300이하*/
#introMain > div li a > button {width:105px; height:33px;  border:1px solid #fff; background: none; box-sizing: border-box; font-size: 12px; font-weight:500; color:#fff; }

#introMain > button {position: absolute; top: calc(100% - 80px);z-index: 5; width:23px; height: 30px; border: none; background-repeat: no-repeat; background-color: transparent;font-size: 0;}
#introMain > button.preBtn {margin-left: 22px; background-image: url('../images_mobile/reMain/ico_visualprev.png');background-position: center ;background-size: 32% 40%; }
#introMain > button.nextBtn { background-image: url('../images_mobile/reMain/ico_visualnext.png');background-position: center; background-size: 32% 40%;}
#introMain > button.stopPlay { background-image: url('../images_mobile/reMain/ico_visualpause.png') ; background-position: center top  4px; background-size:100% ;}
#introMain > button.stopPlay.on { background-position: center bottom 4px; }

.indicator,
.indicator li { overflow: hidden;  margin: 0; padding: 0;} 
.indicator { position: absolute; top: calc(100% - 80px); margin-left:45px;}
.indicator li { display: inline-block; }
.indicator li > a {display: inline-block; width: 20px; height: 30px;margin-left: 3.5px; line-height: 30px; text-decoration: none; text-align: center; font-size: 12px;color:#a7a7a7;}
.indicator li div {display: none;}
.indicator li.on > a {width:84px; color:#fff;}
.indicator li.on div { display: inline-block; width: 50px; height: 2px; margin: 0 10px; background: #ccc; vertical-align: middle;transform: translateY(-1px); }
.indicator li.on div span { display: block; height: 2px; width: 0; background: #0000ff; }

/*businessMain*/
#businessMain {overflow: hidden; position: relative; }
#businessMain > div { overflow: hidden; width: 100%;  height:590px; }
#businessMain ul { padding:0; margin: 0; list-style: none;}
#businessMain ul li {  overflow: hidden;float: left; position: relative; width:100%; height: 590px;/*height: 100%; height:calc(100vh - 50px);*/ background-repeat: no-repeat;  background-size: cover;}
#businessMain ul li > a {display: table; width:100%; height: 100%;text-decoration: none;}
#businessMain ul li > a > div.contents {display: table-cell; padding: 0 0 20px; vertical-align: middle; text-align: center;}
#businessMain ul li > a > div.contents > div.imgArea { width:70px; height: 50px;margin: auto; text-align: center;}
#businessMain ul li > a > div.contents > div.imgArea img {width:auto;  height: 100%; vertical-align: middle;}
#businessMain ul li > a > div.contents > h2 {padding: 0 20px; margin:10px 0 30px; font-size:25px;color:#fff;}
#businessMain ul li > a > div.contents > span {display: inline-block; width:110px; height: 33px; padding:0 0 0 17px;  border: 1px solid #fff;  background: url(../images_mobile/reMain/ico_btnarrow_w.png) no-repeat right 18px center / auto 8px ; text-align: left; line-height: 31px; font-size:12px ;font-weight: 500;color:#fefefe; box-sizing: border-box;}

#businessMain button { position: absolute; top: 50%; transform: translateY(-50%); z-index: 2; width:50px;height: 72px; border: none; cursor: pointer; font-size: 0; opacity: 0.8;}
#businessMain button.busibtnPre {left: 0; background: url(../images_mobile/reMain/ico_mainbtn_l.png) no-repeat left 0  center / auto 72px;}
#businessMain button.busibtnNex {right: 0; background:url(../images_mobile/reMain/ico_mainbtn_r.png) no-repeat right 0 center  / auto 72px ;}
#businessMain  > p {width: 41px; height: 20px; position: absolute; bottom: 37px; left: 50%;  transform: translateX(-50%);line-height: 22px; margin: 0 auto; border-radius: 10px;background: rgba(255,255,255,0.6); box-sizing: border-box; text-align: center; font-size:13px; font-weight: 500;color:#000;}
#businessMain  > p > span {vertical-align: top; line-height: 22px; font-size:13px; font-weight: 500;color:#000; }


/* 뉴스 */
#newsMain > div { padding: 56px  30px ; }
#newsMain > div > div.newsTittle p {margin: 0; font-size:16px ; font-weight: 600;color:#1f2c5c;}
#newsMain > div > div.newsTittle h1 {margin: 4px 0 0; font-size:24px; font-weight:400 ;color:#000;word-break: keep-all;}
#newsMain > div > div.newsTittle a { overflow: hidden; display: inline-block; width:22px; height: 22px; margin-left: -2.5px; margin-top: 18.5px; background-position: top;background-size: 100%; background-repeat: no-repeat; font-size: 0;}
#newsMain > div > div.newsTittle a:nth-child(3) { background-image: url('../images_mobile/reMain/ico_youtube_newsArea.png');}
#newsMain > div > div.newsTittle a:nth-child(4) { background-image: url('../images_mobile/reMain/ico_instagram_newsArea.png');}
#newsMain > div > div.newsTittle a:nth-child(5) { background-image: url('../images_mobile/reMain/ico_facebook_newsArea.png');}
#newsMain > div > div.newsTittle a:nth-child(6) { background-image: url('../images_mobile/reMain/ico_naver_newsArea.png');}
#newsMain > div > div.newsTittle a + a { margin-left: 11px; }

#newsMain > div > div.newsPlay > a {display: block; margin: 16px 0 18px; text-decoration: none; font-size: 0;}
#newsMain > div > div.newsPlay > a iframe  { width: calc(100vw - 60px); height: calc(60vw - 36px); margin: 0 0 15px;}
#newsMain > div > div.newsPlay > a div.playIcoArea { height: 17px; background: #fff;}
#newsMain > div > div.newsPlay > a div.playIcoArea > span { display:inline-block; width:65px; height: 17px;border: 1px solid #e62d28 ; border-bottom:none ; background: #fff url(../images_mobile/reMain/ico_youtube.png) no-repeat center  top 3px / 45px auto ; box-sizing: border-box;}
#newsMain.eng > div > div.newsPlay > a div.playIcoArea > span {width:85px}
#newsMain > div > div.newsPlay > a div.playIcoArea > hr{display: inline-block; width: calc(100% - 65px); height: 17px; margin: 0; border: none; border-bottom: 1px solid #e62d28;}
#newsMain.eng > div > div.newsPlay > a div.playIcoArea > hr {width: calc(100% - 85px);}
#newsMain > div > div.newsPlay > a h2 {padding: 16px 0 11px ; margin: 0; font-size:18px ;color:#000; word-break: keep-all;}
#newsMain > div > div.newsPlay > a p {height: 54px; margin: 0; font-size:13px ;font-weight:500; color:#000; word-break: keep-all;}

#newsMain > div > article > a {display: block; overflow: hidden;text-decoration: none;}
#newsMain > div > article ~ article > a{margin: 25px 0 0;}
#newsMain > div > article > a span {float: left; width: 125px; height: 82px; margin: 0 15px 0 0 ;background-size: cover;}


#newsMain > div > article > a hgroup {overflow: hidden; font-size: 0;}
#newsMain > div > article > a hgroup h2 {padding: 3px 0 0; margin: 0; height: 16.5px; text-align: center; }
#newsMain > div > article > a hgroup h2 > span {background: #fff; margin: 0; width: 61px; height: 100%; border: 1px solid #1f2c5c; border-bottom: none;line-height: 22px; font-size: 10px; font-weight: 500; color: #1f2c5c;}
#newsMain.eng > div > article > a hgroup h2 > span {width:85px;}
#newsMain > div > article > a hgroup h2 > hr {margin: 0; height: 100%;  border: none; border-bottom: 1px solid #1f2c5c;}
#newsMain > div > article > a hgroup h3 {overflow: hidden;width: 100%;height: 38px;padding: 10px 0 0;  margin: 0 0 5px ; text-align: left; font-size:14px; color:#000; word-break: keep-all;}

#newsMain > div > article > a hgroup p {margin: 0; font-size:12px; color:#808080;}


/* 인재채용 */
#recruitMain {background: url(../images_mobile/reMain/img_recruitbg.png) no-repeat center; background-size: cover;}
#recruitMain > div {padding: 56.5px 30px  59px;}
#recruitMain > div > h1 {margin: 0; text-align: center; font-size:16px ; color: #fff; }
#recruitMain > div > p {margin: 3px 0 32px; text-align: center; letter-spacing: -1px; font-size:24px ;color:#fff; }
#recruitMain > div > a {display: block; position: relative; height: 101px; padding: 12px 0 0 20px; box-sizing: border-box; }
#recruitMain > div > a ~ a {margin: 10px 0 0;}
#recruitMain > div > a:nth-child(3){background: #cbb71e;}
#recruitMain > div > a:nth-child(3) > div.layer {position: absolute; top: 0; right: 0; width: 100%; height: 100%; background: url(../images_mobile/reMain/img_recruit01.png) no-repeat top -55px left 101px / 300px auto; background-size: cover; opacity: 0.4;}
#recruitMain > div > a:nth-child(4) {background:#1f2c5c ;}
#recruitMain > div > a:nth-child(4) > div.layer {position: absolute; top: 0; right: 0; width: 100%; height: 100%; background: url(../images_mobile/reMain/img_recruit02.png) no-repeat top -20px left 70px / 300px auto; background-size: cover;opacity: 0.4;}
#recruitMain > div > a:last-child { height: 213px; background: #97b1c2;}
#recruitMain > div > a:last-child > div.layer {position: absolute; top: 0; right: 0; width: 100%; height: 100%; background: url(../images_mobile/reMain/img_recruit03.png) no-repeat bottom -10px left 0 / 300px auto; background-size: cover;opacity: 0.4;}
#recruitMain > div > a h2 {margin: 0; font-size:17px; font-weight:500; color:#fff;}
#recruitMain > div > a p {margin: 2px 0 10px;font-size:12px; color:#fff;}
#recruitMain > div > a span {display: inline-block;width: 90px; height: 11px; background: url(../images_mobile/reMain/ico_arrow.png) no-repeat  top 3px right 0 /21px auto ; line-height: 11px;font-size:12px; color:#fff; }

/* 하단 슬라이드 */

#slideMain { background: #f2f5f8;height:587px;}
#slideMain > div {overflow: hidden; position: relative;height:587px;  /*padding: 0 30px; */ } /*높이값 수정 필*/
#slideMain > div > div.listContainer {overflow: hidden; width: 100vw; }
#slideMain > div > div.listContainer ul { overflow: hidden; width: 100%; height: 82.5%; padding:0; margin: 0; list-style: none; }
#slideMain > div > div.listContainer ul li { display: table; float: left; width: 100%; height: 100%; padding: 56px 0 0; box-sizing: border-box; text-align: center;}
#slideMain > div > div.listContainer ul li > a {display: table-cell; vertical-align: middle;text-decoration: none; border: olive;}
#slideMain > div > div.listContainer ul li p {margin: 0;  font-size:16px ; font-weight:600; color:#1f2c5c;}
#slideMain > div > div.listContainer ul li h2 {margin:5px 0  21px; font-size:20px ; font-weight:300 ; color:#000;} 
#slideMain > div > div.listContainer ul li h2 strong {letter-spacing: -1px; font-size:24px ;}/*font-weight:블랙 600이상*/
#slideMain > div > div.listContainer ul li div {width:190px; height: 250px; margin: auto; background-size: cover; }
#slideMain > div > div.listContainer ul li span {display: inline-block; width:110px; height: 33px;  padding:0 0 0 17px;  margin: 30px 0 0;border: 1px solid #000; background: url(../images_mobile/reMain/ico_btnarrow.png) no-repeat right 18px center / auto 8px ; box-sizing: border-box; text-align: left; text-decoration: none; line-height: 31px; font-size:12px; font-weight:500;color:#000;}

#slideMain > div > a {overflow:hidden; position: absolute; top: 50%; z-index: 1; transform: translateX(-50%); width: 45px; height: 30px;  text-decoration: none; font-size: 500px;}
#slideMain > div > a.btnPrev {left:35px; background: url(../images/reMain/ico_prev.png) no-repeat center / 15px auto;}
#slideMain > div > a.btnNext {right:0; background: url(../images/reMain/ico_next.png) no-repeat center / 15px auto;}

#slideMain > div .slidIndicator {position: absolute; left: 50%; transform: translateX(-50%); bottom:11%; height: 8px;}
#slideMain > div .slidIndicator > a {display: inline-block; overflow: hidden;  width: 8px; height: 8px; border:1.5px solid #f2f5f8	; border-radius: 100%; background: #b4b7be; vertical-align: top; font-size: 200px; box-sizing: border-box;}
#slideMain > div .slidIndicator > a ~ a {margin-left:6.5px ;}
#slideMain > div .slidIndicator > a.on { border:2px solid #1f2c5c;border-radius: 100%;background: none;  }

/* footer */
footer {background: #06061f; padding: 0 0 25px;}
footer > div {padding:30px 30px 0;  color:#fff;}
footer > div > h1 {margin:0 0 20px; width:50px; height: 24px; background: url(../images_mobile/reMain/logo_footer.png) no-repeat center / 50px auto; font-size: 0;}
footer.eng > div > h1 {background-image: url(../images_mobile/reMain/logo_footer_en.png) ;}

footer ul.fnb {overflow: hidden; padding: 0; margin:10px 0; list-style: none;}
footer ul.fnb > li {display: table; float: left;}
footer ul.fnb > li ~ li {margin-left: 14.5px;}
footer ul.fnb > li a {display: table-cell; text-decoration: none; font-size: 10px; color:#9f9fa0; font-weight:500 ;}
footer ul.fnb > li.on a {color:#efeff0;}

footer > div > p {margin: 0; font-size:10px; font-weight: 500;color:#6a6a6d;}
footer > div > p > a {text-decoration: none;font-size:10px; font-weight: 500;color:#6a6a6d;}
footer > div > p:nth-child(3) {margin:3.6px 0 14px ;}

footer > div > div.selectArea > label {display: none;}
footer > div > div.selectArea > select {width:110px; height: 30px; padding: 9px 0 10px; margin: 17px 30px 0 0; border: none; border-bottom:1px solid #83838f; border-radius: 0; background: url(../images/reMain/bu_footerselect.png) no-repeat right 0 center / 6.5px auto;box-sizing: border-box;letter-spacing: -1px; font-size:10px ;font-weight: 500;color:#efeff0;-webkit-appearance: none; -moz-appearance: none; appearance: none;}
footer > div > div.selectArea > select:last-child {margin-right: 0;}

footer > div > div.markArea { padding: 30px 0; font-size: 0;}
footer > div > div.markArea > span {display: inline-block; height: 30px;}
footer > div > div.markArea > span:first-child { width:50px; margin: 0 20px 0 0; background: url(../images_mobile/reMain/img_footer01.png) no-repeat center / 100% auto; font-size: 0;}
footer > div > div.markArea > span:last-child { width:55px; background: url(../images_mobile/reMain/img_footer02.png) no-repeat center / 100% auto; font-size: 0;}